/* Shared */
.navbar {
    margin-bottom: 0;
}

#main {
    padding-top: 100px;
}

footer div {
    border-top: 1px solid #eee;
    padding-top: 20px;
}

.btn-home {
    color: white;
    background-color: #1B68A2;
}

#push {
    height: 50px;
}

/* Home */
.jumbotron {
    background-color: #1B68A2;
    color: white;
}

.featured-text-center {
    text-align: center;
    max-width: 80%;
    margin: 0 auto 50px auto;
}

.featured {
    /*text-align: center;*/
    max-width: 80%;
    margin: 50px auto;
}

.home-rule {
    width: 200px;
}

.carousel-control {
  width:10%;
}

.sponsor {
    margin-bottom: 5px;
}

#sponsors-carousel {
    margin-top: 30px;
}

.list-group-item {
    border: none;
    padding: 5px 15px;
}

#news-list {
    width: 75%;
}

/* Login */
#login-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 30px;
}

/*
    Sticky footer styles
    http://getbootstrap.com/examples/sticky-footer-navbar/
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 110px;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 110px;
  background-color: #f5f5f5;
}