/* Navbar */

.navbar-default {
    background-color: #028fcc; 
    /*background-color: white;*/ 
    /*padding: 5px;*/
    box-shadow: 0 2px 2px rgba(50,50,50,0.15);
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  background-color: rgba(0,0,0,.2);
  color: #fff;
}

/*.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus {
color: rgb(54, 65, 78);
background-color: #028fcc;
font-weight: bold;
color: white;
}*/

.navbar-default .navbar-nav > li > a {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    /*font-weight: 600;*/
    padding-top: 20px;
    padding-bottom: 20px;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
background-color: rgba(0,0,0,.2);
color: #fff;

}

nav.affix {
    position: fixed;
    top: 0;
    width: 100%;
    z-index:10;
}

.btn-circle {
  width: 60px;
  height: 60px;
  border-radius: 30px;
}

.btn-circle-1 {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.btn-circle img {
    padding-top: 8px;
}

.btn-circle-1 img {
    margin-top: 3px;
    margin-left: -3px;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-size: 20px;
}

#main {
    /*height: 600px;*/
    /*padding-top: 100px;
    padding-bottom: 50px;*/
}

/*#home-section-1 {
    background-color: rgb(20, 29, 39);
}*/

#footer {
    border-top: 1px solid #ddd;
    padding-top: 60px;
    /*padding-bottom: 30px;*/
    margin-bottom: 30px;

    background-color: white;
    /*rgb(54, 65, 78);*/
    /*color: white;*/
}

.menu h4 {
    color: #888;
    margin-top: 30px;
}

.menu ul, .menu div {
    margin-top: 20px;
}

.menu ul li, .menu div a {
    margin-bottom: 9px;
}

#footer-arrow {
    position: absolute;
    top: -40px;
    left: 50%;
    margin-left: -40px;
    width: 80px;
    height: 80px;
    background: white;
    border: 1px solid #ddd;
    border-radius: 40px;
    
}

#footer-arrow img {
    padding-top: 15px;
}

/*.btn-home {
    width: 150px;
}*/

#download-btn {
    /*color: white;
    background-color: #028fcc;
    width: 200px;
    height: 70px;
    font-size: 20px;
    border: none;
    margin-bottom: 20px;*/
display: inline-block;
padding: 20px 30px;
text-transform: uppercase;
color: rgba(255,255,255,0.6);
border: solid #FFF 2px;
font-size: 20px;
/*font-weight: 700;*/
background-color: transparent;
-webkit-transition: all ease-in .15s;
-moz-transition: all ease-in .15s;
-o-transition: all ease-in .15s;
transition: all ease-in .15s;
width: auto;
}

#download-btn:hover {
    background-color: white;
    color: black;
}

.push {
    height: 80px;
}

pre {font-size: 16px;}

/* Home */
.jumbotron {
    /*background: radial-gradient(rgb(54, 65, 78), rgb(37, 50, 65));*/
    /*background: #535A6C;*/
    background: rgba(0, 0, 0, 0.8);
    color: rgba(255,255,255,0.6);
    margin-bottom: 0;
    padding-bottom: 0;
}

.jumbotron h1 {
    font-size: 50px;
}

.jumbotron p {
    margin-bottom: 5px;
    font-size: 19px;
}

.lead, .jumbotron .lead {
    font-size: 28px;
letter-spacing: 1px;
line-height: 40px;

}

.jumbotron .lead {font-size: 30px;}

@media screen and (max-width: 768px) {
    /*body {font-size: 20px;}*/

    .jumbotron .lead {font-size: 25px;}

    .lead {
        font-size:23px;
    }

    #download-btn {font-size: 18px;}

}


.hljs {
    background: #f5f5f5;
}

.tab-pane .row {padding: 20px;}

.nav-tabs-big > li {
    font-size: 22px;
    font-weight: 300;
    padding: 0;
    width: 33.33%;
    text-align: center;
}

/*.nav-tabs-big > li.active > a, .nav-tabs-big > li.active > a:hover, .nav-tabs-big > li.active > a:focus {
    color: #555;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: transparent;
    cursor: default;
color: #333;
    border: none;
border-bottom: 2px solid #c4c4c4;

}*/

.nav-tabs-big > li a {
padding: 15px;
color: black;
font-size: 30px;
/*color: #777;*/
}

.nav-tabs-big > li.active a, .nav-tabs-big > li a:hover {
    /*color: #777;*/
    border: none;
    border-bottom: 2px solid #c4c4c4;

}

.nav-tabs-big>li.active>a:hover {
    background: #eee;
    border: none;
    border-bottom: 2px solid #c4c4c4;
}

#logo {
    margin: 0 auto;
    max-height: 256px;
    max-width: 256px;
}

.light-gray {
    background: #eef1f5; /*whitesmoke;*/
}

.social-btn {
    margin: 5px;
}

.home-section {
    padding: 70px 0;
    border-bottom: 1px solid #ddd;
}

/*.featured-text-center {
    text-align: center;
    margin: 0 auto 50px auto;
}*/

.featured {
    margin: 0 auto;
    max-width: 80%;
}

.btn-menu {
    margin-top: 10px;
}

.dropdown-menu, blockquote {
    font-size: 20px;
}

.dropdown-menu > li {
    text-align: left;
}

h3 {font-size: 30px;}

.home-rule {
    width: 200px;
}

.featurette-heading {font-size: 50px;}

.featurette-hr {margin: 50px 0;}

.section-header {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
}

#news-rss:hover {
    text-decoration: none;
}

#news-rss > img {
    vertical-align: baseline;
}

.carousel-control {
    width: 7%;
}

.sponsor {
    margin: 20px auto;
}

#sponsors-carousel {
    margin-top: 30px;
}

.list-group-item {
    border: none;
    padding: 5px 0;
}

#news-list {
    width: 75%;
}

#news-list>li {background-color: #eef1f5;}

.footer-links {
    list-style-type: none;
    padding-left: 0;
}

.fs-comment {color: green;}

.fs-keyword {color: blue;}

.fs-string {color: red;}

/* Login */
#login-form {
    max-width: 300px;
    margin: 100px auto;
    padding: 30px;
}

/*
    Sticky footer styles
    http://getbootstrap.com/examples/sticky-footer-navbar/
*/

html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 160px;
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 160px;
    /*background-color: #f5f5f5;*/
}